0:svt000,passwd00,Sydney,NSW
1:svt001,passwd01,Melbourne,VIC
2:svt002,passwd02,Brisbane,QLD
3:svt003,passwd03,Canberra,ACT
4:svt004,passwd04,Adelaide,SA
5:svt005,passwd05,Perth,WA
6:svt006,passwd06,Darwin,NT
7:svt006,passwd07,Hobart,TAS
