svt000,passwd00,Sydney,NSW
svt001,passwd01,Melbourne,VIC
svt002,passwd02,Brisbane,QLD
svt003,passwd03,Canberra,ACT
svt004,passwd04,Adelaide,SA
svt005,passwd05,Perth,WA
svt006,passwd06,Darwin,NT
svt006,passwd07,Hobart,TAS